-@model BakkalımNet.Models.Entity.satis_maddeleri
@{
    ViewBag.Title = "SatinAl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Satın Alma Ekranı</h2>
    <div class="container">
        @using (Html.BeginForm("SatinAl2", "Satislar", FormMethod.Post))
            {
        <div class="modal-body">
            @Html.HiddenFor(x => x.sm_id)
            <div class="form-group">
                Kullanıcı Adı-Soyadı:@Html.DisplayFor(x => x.satis.kullanici.k_adi, new { @class = "form-control" }) @Html.DisplayFor(x => x.satis.kullanici.k_soyadi, new { @class = "form-control" })

            </div>
            <div class="form-group">
                Ürün Adı:@Html.DisplayFor(x => x.urun.u_adi, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Ürün Barkodu:@Html.DisplayFor(x => x.urun.u_barkodu, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Satış Miktarı:@Html.DisplayFor(x => x.si_miktar, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Birim Fiyatı:@Html.DisplayFor(x => x.urun.u_fiyat, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Tarih:@Html.DisplayFor(x => x.satis.s_tarih, new { @class = "form-control", type = "date" })
            </div>
            <div class="form-group text-center" style="font-size:25px;color:red">
                Toplam Satış Fiyatı:@Html.DisplayFor(x => x.si_fiyat, new { @class = "form-control" })
            </div>
        </div>
                <div class="modal-footer" style="float:right">
                    <button class="btn btn-success">Satın Al</button>
                    <a href="/SatisMaddeleri/Index" class="btn btn-dark">Çıkış</a>
                </div>


            }

    </div>


