@using BakkalımNet.Models.Entity

@model List<BakkalımNet.Models.Entity.stok>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stok Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Stok ID</td>
            <td>Stok Adedi</td>
            <td>Stok Giriş Tarihi</td>
            <td>Stok Bitiş Tarihi</td>
            <td>Sil</td>
            <td>Güncelle</td>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.stok_id</td>
                <td>@item.s_adedi</td>
                <td>@item.s_giris_tarihi</td>
                <td>@item.s_bitis_tarihi</td>
                <td>
                    <a href="/Stok/SilBilgiGetir/@item.stok_id" class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/Stok/GuncelleBilgiGetir/@item.stok_id" class="btn btn-primary">Güncelle</a>
                </td>
            </tr>
        }

    </tbody>

</table>
 
